
.navbar {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    background-color: #ffffff;
}
.navbar span{
    font-size: 25px;
}
.logo {
    width: 100px;
}
.nav-links ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}
.nav-links ul li a {
    text-decoration: none;
    color: #8987A1;
    font-weight: 500;
    font-size: 16px;
}

.nav-links ul li a:hover {
    color: #e85a00;
}
.cart {
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.cart-icon {
    width: 20px;
}


.intro{
    height: 80vh;
    /* display: flex; */
    justify-content:center;
    align-items: center;
    

}
.intros{
    /* background-color: blanchedalmond; */
    /* height: 50vh; */
    width: 85vw;
    display:flex;
    justify-content:space-between ;

 
}
.content1{
    /* {   width: 50%; */
        /* height: 100%; */
        /* background-color: rgb(233, 3, 3); */
        display:flex;
        align-items: center;
    }
    .content1 p{
    color: #8987A1;    
    }
.content1 span{
    
    font-size: 50px;
    color: hsl(23, 100%, 45%);
    
}
.content2
{
    height: 100%;
    display: flex;

}
.second{
    display:flex;
    justify-content:center;
    /* height: auto; */
    /* width: 100%; */
    align-content: center;
   /* background-color: red; */
    color: #8987A1;
}
/* second page */

.second p{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: ; */
    /* background-color: */
    text-align: center;
    
}
.second span{
     color: hsl(23, 100%, 45%);
      
}
/* product grid start here */
.products-grid {
    /* background-color: red; */

    width: 85%;
    height: auto;
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr);  */
    gap: 40px;
   
}


.product {
    /* display: grid//  */
    
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.product img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product .name {
    margin: 5px 0;
    font-weight: 500;
    color: black;
}

.product .price {
    margin: 0;
    font-weight: bold;
    color: black;
}

.product button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #e85a00;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width:100%;
}

.product button:hover {
    background-color: #c64a00;
}
/* third */
.third{
    margin-top: 8%;
    
    /* background-color: #c64a00; */
    display: flex;
   
    justify-content:center;
    align-items: center;
    
    
}
.third1{
    position:relative;
    /* display:flex; */
    width:85vw;

}.third_img{
    margin-right: auto;
    
}
.center_image{
    
   
    position:absolute;
    /* display:flex; */
    margin-left: 350px;
    height: 300px; 
    width: 400px;
    align-content: start;
    top:-120px;
    }
.third_content{
  
margin-left: 40px;
}
.third_content ol{
    /* margin-left: 30px; */
    margin-left: 5%;
}
/* 4rth part */
.fourth{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fourth2{
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.f-header{
    /* background-color: #57bdef; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
padding: 2%;
}
.f-header span{
    
    color: #e85a00;
}
.f-text{
    font-size:  30px;
    color: rgb(175, 175, 175);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: #756b64; */
    width: 60vw;
    padding: 1%;
    margin-bottom: 8%;
     display: block;
    
}
.fourth2 img{
    position: absolute;
    z-index:1 ;
}

.fourth2 p{
    z-index: 20;
}
.fourth{
    margin-bottom: 8%;
}

.conclusion{
    margin: 0;
}
  








    


.mail{
    margin-top: 10px;
    z-index: 1;
    
}
.mail input{
    
  

    padding: 30px;
    background-color: #ffffff;
}
.mail button{
    background-color: #e85a00;
    
    color: #ffffff;
}



.main-footer{
    /* height: 30vh; */

  display: flex;
    justify-content: center;
    align-items: center;
}  

.foot{
    display: flex;
    
    /* align-items:center; */

    width: 80vw;
    color: #7d7d81;
}
.foot li{
    margin-top: 15px;
}
.foot img{

}

